{% extends 'emails/emailBase.html.twig' %}

{% block content %}
    <row class="welcome">
        <columns>
            <spacer size="35"></spacer>
            <h1>
                <center>
                    There has been
                    <br> a new job application
                    <br> for
                    <br> {{ jobPosition }}
                </center>
            </h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>Name:</p>
            <p>{{ name }}</p>
        </columns>
    </row>
    <row>
        <columns>
            <p>Email:</p>
            <p>{{ candidateEmail }}</p>
        </columns>
    </row>
    <row>
        <columns>
            <p>Phone:</p>
            <p>{{ phone }}</p>
        </columns>
    </row>

    {% if message|length > 0 %}
        <row>
            <columns>
                <p>Message:</p>
                <p>{{ message }}</p>
            </columns>
        </row>
    {% endif %}
{% endblock %}

{% block sender %}
    <row>
        <columns large="3">
            <img src="{{ email.image('@public/images/logo.jpg') }}" class="logo-footer" alt="EinzigTech Logo">
        </columns>
        <columns large="6" class="large-offset-3">
            <p>Website</p>
            <p>EinzigTech Pvt Ltd.</p>
            <p>https://www.einzigtech.com</p>
        </columns>
        <columns large="3"></columns>
    </row>
{% endblock %}
